node_modules/
.env
*.log
laravel_api_git_backup/
clean_clone_1.git/
fresh_purge/
laravel_api.bfg-report/
**/node_modules/

*.zip
bfg.jar

*.pack
verify_clone_2/
.env
/vendor/
/laravel_api/vendor/
/laravel_api/backend/vendor/
/laravel_api/tit_website/vendor/
/laravel_api/teste_herd/vendor/
