APP_NAME=TiT Education
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://api.yourdomain.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=your_database_name
DB_USERNAME=your_database_user
DB_PASSWORD=your_database_password

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

ALLOWED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com

PUSHER_APP_ID="2123529"
PUSHER_APP_KEY="4f9958ae0d1fc1808fb5"
PUSHER_APP_SECRET="5d0f2277e9d4b3fadf8d"
PUSHER_APP_CLUSTER=ap2

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GEMINI_API_KEY=AIzaSyCxiCuf4JSyh80UxsWwr-vMW7orZVl-KPA

PAYHERE_MERCHANT_ID=
PAYHERE_MERCHANT_SECRET=
PAYHERE_IS_SANDBOX=true
